#backToTop
  display: none
  position: fixed
  right: 30px
  bottom: 60px
  z-index: 99
  cursor: pointer
  img
    width: 10vw
    height: auto

@media (min-width:510px)
  #backToTop
    img
      width: 50px
