h1
  font-size: 36px
  font-weight: $font-thin
  line-height: 44px
  letter-spacing: -1.44px
  color: $header-name-color

h2, #menu-dropdown ul li a
  font-size: 12px
  font-weight: $font-light
  line-height: 16px
  text-align: center

h2
  letter-spacing: 0.05px
  color: $title-dot-color

#footer
  h2, p
    color: $text-on-black-color

  h2
    font-size: 18px
    font-weight: $font-regular

  p
    font-size: 11px
    font-weight: $font-light
    text-align: center
