/* Background Colors */
/* Font Colors */
/* Font Family */
/* Font Size */
/* Margin or Size */
/*typography setup */
body {
  font-family: "Lato", sans-serif; }

/* Font Colors */
/* Margin and size */
/*typography setup */
h3, h4 {
  font-size: 14px;
  line-height: 17px; }

h3 {
  font-weight: 300;
  color: #292929; }

h4 {
  font-weight: 700;
  color: #757575; }

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #9C9898; }

.proj-img {
  border-radius: 9px;
  box-shadow: 0 2px 4px #000;
  width: 162px;
  height: 107px; }

#app .categ-block {
  width: 100vw;
  height: auto; }
  #app .categ-block .singleCateg, #app .categ-block .categ {
    margin-left: 6.56%;
    margin-right: 15px;
    border-left: 0.5px solid #BEC8D3;
    padding-bottom: 35px; }
    #app .categ-block .singleCateg .categ-title, #app .categ-block .categ .categ-title {
      height: 23px;
      position: relative; }
      #app .categ-block .singleCateg .categ-title h3, #app .categ-block .categ .categ-title h3 {
        display: inline-block; }
      #app .categ-block .singleCateg .categ-title .dot, #app .categ-block .categ .categ-title .dot {
        height: 23px;
        font-size: 29px;
        color: #B7B7B7;
        position: absolute;
        top: -2px;
        left: -8.3px; }
      #app .categ-block .singleCateg .categ-title .categ-name, #app .categ-block .categ .categ-title .categ-name {
        border-bottom: 0.5px solid #BEC8D3;
        position: absolute;
        top: 0px;
        left: 14px;
        padding-bottom: 2px; }
    #app .categ-block .singleCateg .proj-detail, #app .categ-block .categ .proj-detail {
      display: flex;
      flex-wrap: wrap;
      margin-left: 17px; }
      #app .categ-block .singleCateg .proj-detail .proj-info, #app .categ-block .categ .proj-detail .proj-info {
        display: flex;
        margin-top: 15px;
        width: 100%; }
        #app .categ-block .singleCateg .proj-detail .proj-info .proj-text h4, #app .categ-block .categ .proj-detail .proj-info .proj-text h4 {
          margin-bottom: 6px; }
        #app .categ-block .singleCateg .proj-detail .proj-info .proj-text .lang p, #app .categ-block .categ .proj-detail .proj-info .proj-text .lang p {
          display: inline-block; }
        #app .categ-block .singleCateg .proj-detail .proj-info .proj-text .lang-name, #app .categ-block .categ .proj-detail .proj-info .proj-text .lang-name {
          margin-left: 8px; }
  #app .categ-block .categ {
    padding-top: 14px; }
    #app .categ-block .categ .proj-detail .proj-info .proj-text {
      margin-left: 3.75vw; }
  #app .categ-block .singleCateg {
    padding-top: 0;
    margin-top: 30px; }
    #app .categ-block .singleCateg .categ-title .dot {
      margin-top: -8.3px; }
    #app .categ-block .singleCateg .categ-title .categ-name {
      top: -8px; }
    #app .categ-block .singleCateg .proj-detail .proj-info {
      margin-top: 10px;
      position: relative; }
      #app .categ-block .singleCateg .proj-detail .proj-info .proj-img-container, #app .categ-block .singleCateg .proj-detail .proj-info .proj-text {
        margin-left: 0;
        margin-top: -8.3px; }
      #app .categ-block .singleCateg .proj-detail .proj-info .proj-img-container {
        width: 60%;
        position: absolute;
        top: 0;
        left: 40%;
        right: 0;
        bottom: 0; }
        #app .categ-block .singleCateg .proj-detail .proj-info .proj-img-container .proj-img {
          float: left;
          left: 30%;
          box-shadow: none;
          width: auto;
          height: 100%; }
      #app .categ-block .singleCateg .proj-detail .proj-info .proj-text {
        width: 100%; }
        #app .categ-block .singleCateg .proj-detail .proj-info .proj-text .proj-name {
          color: #BE75AE; }

.theme-black {
  background: #3C3C3C; }
  .theme-black h3, .theme-black h4, .theme-black p {
    color: #fff; }

.theme-white {
  background: #fff; }

@media (min-width: 400px) {
  #app .categ-block .categ .proj-detail .proj-info .proj-text {
    margin-left: 30px; } }
@media (min-width: 510px) {
  h3 {
    font-size: 18px;
    line-height: 21px; }

  p {
    font-size: 14px;
    line-height: 22px; }

  #app .categ-block .singleCateg, #app .categ-block .categ {
    padding-bottom: 45px; }
    #app .categ-block .singleCateg .categ-title .dot, #app .categ-block .categ .categ-title .dot {
      height: 28px;
      font-size: 36px;
      left: -10.3px; }
  #app .categ-block .categ {
    padding-top: 32px; }
    #app .categ-block .categ .proj-detail .proj-info {
      margin-top: 30px;
      flex-direction: column;
      width: 50%;
      margin-top: 30px; }
      #app .categ-block .categ .proj-detail .proj-info .proj-img {
        width: 200px;
        height: auto; }
      #app .categ-block .categ .proj-detail .proj-info .proj-text {
        margin-left: 12px;
        margin-top: 18px; }
        #app .categ-block .categ .proj-detail .proj-info .proj-text .lang-name {
          margin-left: 12px; }
  #app .categ-block .singleCateg {
    margin-top: 32px; }
    #app .categ-block .singleCateg .proj-detail .proj-info {
      margin-top: 20px; }
      #app .categ-block .singleCateg .proj-detail .proj-info .proj-text h4 {
        margin-bottom: 8px; } }
@media (min-width: 750px) {
  h3 {
    font-size: 18px;
    line-height: 21px; }

  p {
    font-size: 14px;
    line-height: 22px; }

  #app .categ-block .singleCateg .categ-title .dot, #app .categ-block .categ .categ-title .dot {
    left: -11px; }
  #app .categ-block .singleCateg .proj-detail .proj-info .proj-img-container .proj-img {
    height: 120%;
    margin-top: -5%; }
  #app .categ-block .categ .proj-detail .proj-info {
    width: 33%; } }
@media (min-width: 1010px) {
  h1 {
    font-size: 80px;
    line-height: 96px;
    letter-spacing: -3.2px; }

  h2, #menu-dropdown ul li a {
    font-size: 25px;
    line-height: 38px; }

  h2 {
    letter-spacing: 0.1px; }

  h3 {
    font-size: 32px;
    line-height: 39px; }

  h4 {
    font-size: 22px;
    line-height: 27px; }

  p {
    font-size: 18px;
    line-height: 27px; }

  #header #name {
    margin: 10px 37px 0; }
    #header #name h1 {
      margin: auto 52px; }
    #header #name .title-bar {
      flex: 5;
      margin-top: 48px; }
  #header #title {
    margin-top: 3px; }

  #app .categ-block .singleCateg, #app .categ-block .categ {
    padding-bottom: 80px; }
    #app .categ-block .singleCateg .categ-title .dot, #app .categ-block .categ .categ-title .dot {
      height: 40px;
      font-size: 55px;
      left: -16.1px; }
    #app .categ-block .singleCateg .categ-title .categ-name, #app .categ-block .categ .categ-title .categ-name {
      left: 34px;
      top: -5px;
      padding-bottom: 6px; }
  #app .categ-block .singleCateg {
    margin-top: 42px; }
    #app .categ-block .singleCateg .categ-title {
      height: 45px; }
      #app .categ-block .singleCateg .categ-title .dot {
        margin-top: -14.3px; }
      #app .categ-block .singleCateg .categ-title .categ-name {
        top: -16px; }
    #app .categ-block .singleCateg .proj-detail {
      margin-left: 50px; }
      #app .categ-block .singleCateg .proj-detail .proj-info .proj-img-container .proj-img {
        height: 145%;
        margin-top: -7%; }
      #app .categ-block .singleCateg .proj-detail .proj-info .proj-img-container .proj-text {
        width: 100%;
        margin-left: 0;
        margin-top: -8.3px; }
  #app .categ-block .categ {
    padding-top: 36px; }
    #app .categ-block .categ .categ-title {
      height: 35px; }
    #app .categ-block .categ .proj-detail .proj-info {
      flex-wrap: nowrap;
      width: 28%;
      margin: 58px 18px 0; }
      #app .categ-block .categ .proj-detail .proj-info .proj-img {
        width: 266px;
        height: 178px; }
      #app .categ-block .categ .proj-detail .proj-info .proj-text {
        margin-top: 42px; } }

/*# sourceMappingURL=categ-block.css.map */
