/*reset */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

/* Background Colors */
/* Font Colors */
/* Font Family */
/* Font Size */
/* Margin or Size */
/*typography setup */
body {
  font-family: "Lato", sans-serif; }

/* Font Colors */
/* Font Size */
/* Margin and Size */
/*typography setup */
h1 {
  font-size: 36px;
  font-weight: 100;
  line-height: 44px;
  letter-spacing: -1.44px;
  color: #000; }

h2, #menu-dropdown ul li a {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-align: center; }

h2 {
  letter-spacing: 0.05px;
  color: #B7B7B7; }

#footer h2, #footer p {
  color: #fff; }
#footer h2 {
  font-size: 18px;
  font-weight: 400; }
#footer p {
  font-size: 11px;
  font-weight: 300;
  text-align: center; }

/*nav setup */
.scrollable {
  overflow: scroll; }

#root .unscrollable {
  height: 100vh;
  overflow: hidden; }

#nav, #nav ul {
  height: 39px; }

#nav {
  background: #3C3C3C;
  color: #fff; }
  #nav ul {
    position: relative;
    display: flex;
    justify-content: space-between; }
    #nav ul #logo {
      font-size: 20px;
      line-height: 24px;
      margin-left: 21px;
      padding-top: 6px; }
    #nav ul #bars {
      width: 22px;
      padding-top: 10px;
      margin-right: 21px;
      z-index: 2; }
      #nav ul #bars span {
        background: #fff;
        width: 22px;
        height: 1px;
        border-radius: 1.5px;
        margin-top: 4px;
        display: block; }
      #nav ul #bars .bar1-trans, #nav ul #bars .bar3-trans {
        transform-origin: 50% 0%;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      #nav ul #bars .bar1-trans {
        transform: translate(0, 5px) rotate(135deg); }
      #nav ul #bars .bar2-trans {
        opacity: 0; }
      #nav ul #bars .bar3-trans {
        transform: translate(0, -6px) rotate(45deg); }
      #nav ul #bars .bar-back {
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      #nav ul #bars .bar2-back {
        opacity: 1;
        transition: opacity 0.6s linear; }
    #nav ul .hidden, #nav ul .show {
      transform-origin: 0% 0%;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    #nav ul .hidden {
      transform: translate(100vw, 0); }
    #nav ul .show {
      transform: none; }
    #nav ul #menu-dropdown {
      position: fixed;
      top: 0;
      right: 0;
      width: 148px;
      height: 100vh;
      background: #3C3C3C;
      text-align: center;
      padding-top: 8px;
      z-index: 1; }
      #nav ul #menu-dropdown ul {
        display: flex;
        flex-direction: column;
        margin-top: 45px; }
        #nav ul #menu-dropdown ul li {
          line-height: 35px;
          border-bottom: 0.5px solid #BEC8D3;
          margin: 0 9px; }
        #nav ul #menu-dropdown ul li:first-of-type {
          border-top: 0.5px solid #BEC8D3; }
    #nav ul #deskMenu {
      display: block;
      transform: none; }
      #nav ul #deskMenu ul li {
        margin: 12px 30px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.17px; }

/*header setup */
#app {
  width: 100vw; }

#header #name {
  display: flex;
  margin-top: 15px; }
  #header #name h1 {
    margin: auto 25px; }
  #header #name .title-bar {
    flex: 5;
    height: 0.5px;
    background: #BEC8D3;
    margin-top: 26px; }
#header #title {
  margin-top: 3px; }

/*footer setup */
#footer {
  width: 100vw;
  background: #3C3C3C;
  display: flex;
  flex-direction: column; }
  #footer #footer-info {
    margin-top: 28px; }
    #footer #footer-info #location {
      display: none; }
    #footer #footer-info h2 {
      margin-bottom: 6px; }
    #footer #footer-info p {
      margin-top: 0px; }
    #footer #footer-info .contact-info {
      display: flex;
      width: 100px;
      margin: 0 auto; }
      #footer #footer-info .contact-info img {
        width: 23px;
        height: 23px;
        display: none; }
      #footer #footer-info .contact-info p {
        width: 100px; }
    #footer #footer-info #social {
      text-align: center; }
      #footer #footer-info #social img {
        margin: 15px 8px 25px; }

/*# sourceMappingURL=main.css.map */
