/*reset */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

/* Background Colors */
/* Font Colors */
/* Font Family */
/* Font Size */
/* Margin or Size */
/*typography setup */
body {
  font-family: "Lato", sans-serif; }

/* Font Colors */
/* Font Size */
/* Margin and Size */
h1 {
  font-size: 36px;
  font-weight: 100;
  line-height: 44px;
  letter-spacing: -1.44px;
  color: #000; }

h2, #menu-dropdown ul li a {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-align: center; }

h2 {
  letter-spacing: 0.05px;
  color: #B7B7B7; }

#footer h2, #footer p {
  color: #fff; }
#footer h2 {
  font-size: 18px;
  font-weight: 400; }
#footer p {
  font-size: 11px;
  font-weight: 300;
  text-align: center; }

.scrollable {
  overflow: visible; }

#root .unscrollable {
  height: 100vh;
  overflow: hidden; }

#nav, #nav ul {
  height: 39px; }

#nav {
  background: #3C3C3C;
  color: #fff; }
  #nav ul {
    position: relative;
    display: flex;
    justify-content: space-between; }
    #nav ul #logo {
      font-size: 20px;
      line-height: 24px;
      margin-left: 6.56%;
      padding-top: 6px; }
    #nav ul #bars {
      width: 22px;
      padding-top: 10px;
      margin-right: 6.56%;
      z-index: 2; }
      #nav ul #bars span {
        background: #fff;
        width: 22px;
        height: 1px;
        border-radius: 1.5px;
        margin-top: 4px;
        display: block; }
      #nav ul #bars .bar1-trans, #nav ul #bars .bar3-trans {
        transform-origin: 50% 0%;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      #nav ul #bars .bar1-trans {
        transform: translate(0, 5px) rotate(135deg); }
      #nav ul #bars .bar2-trans {
        opacity: 0; }
      #nav ul #bars .bar3-trans {
        transform: translate(0, -6px) rotate(45deg); }
      #nav ul #bars .bar-back {
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      #nav ul #bars .bar2-back {
        opacity: 1;
        transition: opacity 0.6s linear; }
    #nav ul .hidden, #nav ul .show {
      transform-origin: 0% 0%;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    #nav ul .hidden {
      transform: translate(100vw, 0); }
    #nav ul .show {
      transform: none; }
    #nav ul #menu-dropdown {
      position: fixed;
      top: 0;
      right: 0;
      width: 148px;
      height: 100vh;
      background: #3C3C3C;
      text-align: center;
      padding-top: 8px;
      z-index: 1; }
      #nav ul #menu-dropdown ul {
        display: flex;
        flex-direction: column;
        margin-top: 45px; }
        #nav ul #menu-dropdown ul li {
          line-height: 35px;
          border-bottom: 0.5px solid #BEC8D3;
          margin: 0 9px; }
        #nav ul #menu-dropdown ul li:first-of-type {
          border-top: 0.5px solid #BEC8D3; }
    #nav ul #deskMenu {
      display: block;
      transform: none; }
      #nav ul #deskMenu ul li {
        margin: 12px 30px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.17px; }

/*header setup */
#app {
  width: 100vw; }

#header #name {
  display: flex;
  margin-top: 15px; }
  #header #name h1 {
    margin: auto 25px; }
  #header #name .title-bar {
    flex: 5;
    height: 0.5px;
    background: #BEC8D3;
    margin-top: 26px; }
#header #title {
  margin-top: 3px; }

#backToTop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 99;
  cursor: pointer; }
  #backToTop img {
    width: 60px;
    height: auto; }

/*footer setup */
#footer {
  width: 100vw;
  background: #3C3C3C;
  display: flex;
  flex-direction: column;
  padding-top: 28px; }
  #footer #location {
    display: none; }
  #footer h2 {
    margin-bottom: 6px; }
  #footer p {
    margin-top: 0px; }
  #footer .contact-info {
    display: flex;
    width: 100px;
    margin: 0 auto; }
    #footer .contact-info img {
      width: 23px;
      height: 23px;
      display: none; }
    #footer .contact-info p {
      width: 100px; }
  #footer #social {
    text-align: center; }
    #footer #social img {
      margin: 15px 8px 25px;
      width: 30px;
      height: auto; }
    #footer #social #github {
      width: 27px; }

@media (min-width: 750px) {
  #footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0; }
    #footer #self-info, #footer #contact, #footer #social {
      width: 33%; }
    #footer #self-info, #footer #contact {
      border-right: 0.5px solid #BEC8D3; }
      #footer #self-info #location, #footer #contact #location {
        display: flex; }
      #footer #self-info h2, #footer #contact h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 28px; }
      #footer #self-info p, #footer #contact p {
        font-size: 16px;
        line-height: 30px;
        font-weight: 100; }
      #footer #self-info .contact-info:first-of-type, #footer #contact .contact-info:first-of-type {
        margin-top: 18px; }
      #footer #self-info .contact-info:last-of-type, #footer #contact .contact-info:last-of-type {
        margin-bottom: 18px; }
      #footer #self-info .contact-info, #footer #contact .contact-info {
        display: flex;
        width: 180px;
        margin: 10px auto; }
        #footer #self-info .contact-info img, #footer #contact .contact-info img {
          width: 23px;
          height: 23px;
          display: inline; }
        #footer #self-info .contact-info p, #footer #contact .contact-info p {
          width: 210px;
          text-align: left;
          margin-left: 16px;
          line-height: 23px; }
    #footer #social img {
      margin: 38px 10px 0;
      width: 45px;
      height: 45px; }
    #footer #social #github {
      width: 38px; } }
@media (min-width: 1010px) {
  #footer #self-info h2, #footer #contact h2 {
    margin-top: 42px;
    font-size: 48px;
    line-height: 35px; }
  #footer #self-info p, #footer #contact p {
    font-size: 20px;
    line-height: 35px;
    font-weight: 300; }
  #footer #self-info .contact-info:first-of-type, #footer #contact .contact-info:first-of-type {
    margin-top: 34px; }
  #footer #self-info .contact-info:last-of-type, #footer #contact .contact-info:last-of-type {
    margin-bottom: 22px; }
  #footer #self-info .contact-info, #footer #contact .contact-info {
    width: 210px; }
    #footer #self-info .contact-info img, #footer #contact .contact-info img {
      width: 23px;
      height: 23px; }
  #footer #social img {
    margin: 54px 10px 42px;
    width: 50px;
    height: 50px; }
  #footer #social #github {
    width: 42px; } }

/*# sourceMappingURL=main.css.map */
