/*typography setup*/
h3
  font-size: 14px
  font-weight: $font-light
  line-height: 17px
  color: $categ-name-color

h4
  font-size: 14px
  font-weight: $font-bold
  line-height: 17px
  color: $proj-name-color

p
  font-size: 12px
  font-weight: 400
  line-height: 18px
  color: $lang-color
